<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="shortcut icon" type="image/png" href="~/admin/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/admin/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <!-- Sidebar navigation-->
              @if(User.IsInRole("Admin"))
              {
                    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                        <ul id="sidebarnav">
                            <!-- Home -->
                            <li class="nav-small-cap">
                                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                <span class="hide-menu">Home</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="Home" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-layout-dashboard"></i>
                                    </span>
                                    <span class="hide-menu">Dashboard</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="Assignment" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-pin"></i>
                                    </span>
                                    <span class="hide-menu">Assignment</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-area="" asp-controller="Home" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-home"></i>
                                    </span>
                                    <span class="hide-menu">Main Home</span>
                                </a>
                            </li>
                            <li class="nav-small-cap">
                                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                <span class="hide-menu">Agency Components</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="Agency" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-brand-office"></i>
                                    </span>
                                    <span class="hide-menu">Agency</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="Agent" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-user-plus"></i>
                                    </span>
                                    <span class="hide-menu">Agent</span>
                                </a>
                            </li>
                            <!-- Property Components -->
                            <li class="nav-small-cap">
                                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                <span class="hide-menu">Property Components</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="Property" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-home"></i>
                                    </span>
                                    <span class="hide-menu">Property</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="Category" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-tag"></i>
                                    </span>
                                    <span class="hide-menu">Category</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="Roof" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-umbrella"></i>
                                    </span>
                                    <span class="hide-menu">Roof</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="Exterior" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-paint"></i>
                                    </span>
                                    <span class="hide-menu">Exterior</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="PropertyView" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-eye"></i>
                                    </span>
                                    <span class="hide-menu">View</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="Parking" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-car"></i>
                                    </span>
                                    <span class="hide-menu">Parking Type</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="PropertyType" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-home-heart"></i>
                                    </span>
                                    <span class="hide-menu">Property Types</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="Status" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-home-heart"></i>
                                    </span>
                                    <span class="hide-menu">Property Status</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="FAQ" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-help"></i>
                                    </span>
                                    <span class="hide-menu">FAQ</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="Service" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-settings"></i>
                                    </span>
                                    <span class="hide-menu">Service</span>
                                </a>
                            </li>

                            <!-- Post Components -->
                            <li class="nav-small-cap">
                                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                <span class="hide-menu">Post Components</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="Author" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-user-plus"></i>
                                    </span>
                                    <span class="hide-menu">Author</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="Post" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-pencil"></i>
                                    </span>
                                    <span class="hide-menu">Post</span>
                                </a>
                            </li>
                        </ul>
                    </nav>


              }
              else if(User.IsInRole("Author"))
              {
                    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                        <ul id="sidebarnav">
                            <li class="nav-small-cap">
                                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                <span class="hide-menu">Home</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-area="" asp-controller="Home" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-pin"></i>
                                    </span>
                                    <span class="hide-menu">Main Home</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="Post" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-edit"></i>

                                    </span>
                                    <span class="hide-menu">Post</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
              }
              else if(User.IsInRole("Agent"))
              {
                    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                        <ul id="sidebarnav">
                            <li class="nav-small-cap">
                                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                <span class="hide-menu">Home</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-area="" asp-controller="Home" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-pin"></i>
                                    </span>
                                    <span class="hide-menu">Main Home</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="FAQ" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-edit"></i>

                                    </span>
                                    <span class="hide-menu">FAQ</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-controller="Service" asp-action="Index" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-edit"></i>

                                    </span>
                                    <span class="hide-menu">Service</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
              }
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
            </header>
            <!--  Header End -->
            @RenderBody()
            @RenderSection("Scripts", required: false)
            @RenderSection("Styles", required: false)
        </div>
    </div>
</body>
</html>
