@using ModernEstate.Domain.Entities
@model IEnumerable<Review>
@{
    Layout = null;
}
<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Email</th>
            <th>Mesaj</th>
            <th>Cavab</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model)
        {
            <tr>
                <td>@review.Name</td>
                <td>@review.Email</td>
                <td>@review.Message</td>
                <td>
                    <a asp-action="Respond" asp-route-id="@review.Id">Cavab ver</a>
                </td>
            </tr>
        }
    </tbody>
</table>
