@using ModernEstate.Application.ViewModels.Services
@using ModernEstate.Domain.Entities
@model GetServiceVM

    <!-- Section Title Breadcrumbs-->
<section class="section-full text-left">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>@Model.Agency.AgencyName</h1>
                <p></p>
                <ol class="breadcrumb">
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li class="active">Services</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--Section Welcome-->
<section class="section-md text-left">
    <div class="shell">
        <div class="range">
            <div class="cell-sm-6 cell-sm-push-2">
                <h2>Welcome</h2>
                <hr>
                <p>
                    We are a global industry leader with a mission: we want to help people to do more, feel better, live longer. On the 12th of October 2014 we completed a 3-part transaction with the contractor which reshapes our business. We acquired contractor's
                    business and combined our Consumer businesses to create a new company.
                </p>
                <a asp-controller="FAQ" asp-action="Details" asp-route-Id="@Model.Agency.Id" class="btn btn-sm btn-sushi btn-min-width-mod-3 offset-11">View FAQs</a>
            </div>
            <div class="cell-sm-6 offset-5 cell-sm-push-1">
                <div class="img-wrap inset-4">
                    <img src="~/assets/images/services-8.jpg" alt="" width="570" height="350">
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section Our Services-->
<section class="section-md bg-dark text-center text-sm-left">
    <div class="container">
        <h2>Our Services</h2>
        <hr>
        <div class="row offset-11 text-left clearleft-custom-6">
            @foreach (Service service in Model.Service)
            {
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail thumbnail-3">
                        <a href="#" class="img-link">
                            <img style="width:370px;height:250px;" src="~/assets/images/@service.Photo" alt="">
                        </a>
                        <div class="caption">
                            <h5>
                                <a href="#" class="text-sushi">@service.Title</a>
                            </h5>
                            <p>@service.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--Section Testimonials 2-->
<section class="section-md text-center text-sm-left bg-clients">
    <div class="container">
        <h2 class="text-white">Testimonials</h2>
        <hr>
        <!-- Owl Carousel-->
        <div class="row flow-offset-1 clearleft-custom-2">
            <div class="col-xs-12 col-sm-6">
                <blockquote class="quote">
                    <div class="img-wrap">
                        <img src="~/assets/images/index-16.jpg" alt="" width="50" height="50">
                    </div>
                    <cite class="text-left">
                        <span class="h6 text-primary text-ubold">Laura Russell</span>
                        <span class="text-light">Journalist, San Diego</span>
                    </cite>
                    <p>
                        <q class="text-white">Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!</q>
                    </p>
                </blockquote>
            </div>
            <div class="col-xs-12 col-sm-6">
                <blockquote class="quote">
                    <div class="img-wrap">
                        <img src="~/assets/images/index-17.jpg" alt="" width="50" height="50">
                    </div>
                    <cite class="text-left">
                        <span class="h6 text-primary text-ubold">Richard Santos</span>
                        <span class="text-light">Web Designer, New York</span>
                    </cite>
                    <p>
                        <q>I just don't know how to describe your services... They are extraordinary! I am quite happy with them! Just keep up going this way!</q>
                    </p>
                </blockquote>
            </div>
            <div class="col-xs-12 col-sm-6">
                <blockquote class="quote">
                    <div class="img-wrap">
                        <img src="~/assets/images/index-18.jpg" alt="" width="50" height="50">
                    </div>
                    <cite class="text-left">
                        <span class="h6 text-primary text-ubold">Diana Valdez</span>
                        <span class="text-light">Teacher, San Diego</span>
                    </cite>
                    <p>
                        <q>Thank you very much. I'm impressed with your service. I've already told my friends about your company and your quick response, thanks again!</q>
                    </p>
                </blockquote>
            </div>
            <div class="col-xs-12 col-sm-6">
                <blockquote class="quote">
                    <div class="img-wrap">
                        <img src="~/assets/images/client-1.jpg" alt="" width="50" height="50">
                    </div>
                    <cite class="text-left">
                        <span class="h6 text-primary text-ubold">George Ortega</span>
                        <span class="text-light">Manager, New York</span>
                    </cite>
                    <p>
                        <q>Great organization! Your prompt answer became a pleasant surprise for me. You`ve rendered an invaluable service! Thank you very much!</q>
                    </p>
                </blockquote>
            </div>
            <div class="col-xs-12">
                <a href="#" class="btn btn-sushi btn-sm">read more testimonials</a>
            </div>
        </div>
    </div>
</section>