@using ModernEstate.Application.ViewModels.Account
@model UserVM
@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (User.IsInRole("Admin"))
    {
        <title>Admin Profile</title>
    }
    else
    {
        <title>User Profile</title>
    }
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            position: relative;
        }

        .profile-card {
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            padding: 30px;
            text-align: center;
            max-width: 350px;
            width: 100%;
            position: relative;
        }

        .back-arrow {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 20px;
            color: #007bff;
            text-decoration: none;
        }

            .back-arrow:hover {
                color: #0056b3;
            }

        .profile-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 15px;
        }

        .btn-custom {
            border-radius: 20px;
            padding: 10px 20px;
            font-size: 14px;
        }

        .name {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .username {
            font-size: 16px;
            color: #6c757d;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <div class="profile-card">
        <a asp-controller="Home" asp-action="Index" class="back-arrow">
            <i class="fas fa-arrow-left"></i>
        </a>
        <img src="~/assets/images/avatar.webp" class="profile-img" alt="Profile Image">
        <div class="name">@Model.Name @Model.Surname</div>
        <div class="username">@Model.UserName</div>
        @if (User.IsInRole("Admin"))
        {
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-primary btn-custom">Admin Panel</a>
        } <br /> <br />
        <a asp-controller="Account" asp-action="Logout" class="btn btn-primary btn-custom">Logout</a>
    </div>
</body>
