@using ModernEstateProject.Areas.Admin.ViewModels.Agencies
@model UpdateAdminAgencyVM
<div class="card mb-0">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <legend>Property Form</legend>
            <div class="mb-3">
                <label asp-for="AgencyName" class="form-label">Agency Name</label>
                <input asp-for="AgencyName" class="form-control" placeholder="Enter agency name">
                <span asp-validation-for="AgencyName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label">Description</label>
                <input asp-for="Description" class="form-control" placeholder="Enter Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <button class="btn btn-light m-1">Submit</button>
            <a asp-action="Index" type="button" class="btn btn-light m-1">Cancel</a>
        </form>
    </div>
</div>
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            $('input, select').on('input change', function () {
                var field = $(this);
                var errorSpan = field.siblings('.text-danger');
                if (field.val().trim() !== '') {
                    errorSpan.hide();
                } else {
                    errorSpan.show();
                }
            });
        });
    </script>
}